   .posts {
    position: relative;
    top: -130px;
    margin-left: 53px;
    width: 1210px;
    z-index: 5;
    left: 39px;
}
    
.post {
    background-color: white;
    width: 260px;
    float: left;
    position: relative;
    margin: 123px 18px;
    }
    .post img {
    width: 161px;
    height: 132px;
}
.bg-subscribe{
  background: url("img/bg-subscribe.jpg")  no-repeat;
   webkit-background-size: cover;
    background-size: cover;
  position:relative;
  width: 1347px;
  height: 549px;
  top: 318px;
  }
  .owl-dots {
    top: 215px;
    left: 619px;
    position: absolute;
    display: none;
}
.bg-subscribe:before {
    content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    *z-index: 4;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: skewX(-88deg);
    -ms-transform: skewX(-88deg);
    -webkit-transform: skewX(-88deg);
    transform: skewX(-88deg); }
  .bg-subscribe:after {
    content: '';
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    top: 548px;
    right: 0;
    /* bottom: 149px; */
    height: 78px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg);
    transform: skewY(-2deg); }
 @media (max-width:991px){
.posts {
     position: relative;
    top: -130px;
    margin-left: 53px;
        width: 1276px;
    z-index: 5;
    left: 39px;
}
.post{
  .post {
    background-color: white;
    width: 260px;
    float: left;
    position: relative;
    margin: 123px 18px;
    }
}

.contact-form {
    width: 1203px;
    }
    .container {
    width: 1485px;
  }
  .wrap-baseline {
    width: 1422px;
    padding-left: 66px;
}
.bg-subscribe {
  width: 1481px;
  }


 .bg-subscribe:before , .background4:before, .background4:after{
    height: 463px;
    top: -3px;
   }
}






.ribben {
  position: absolute;
    top: 5%;
    left: 26%;
    padding: 20px 0px 18px 4px;
    background: #cc0000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	-webkit- border-radius: 50%;
	-0- border-radius: 50%;
	-moz- border-radius: 50%;
}
.ribben p {
    font-size:0.9em;
    color: #fff;
	line-height: 0;
  margin-left: -29px;
}
.ribben:after {
    content: '';
    position: absolute;
    top: 86%;
    right: 18%;
    width: 0;
    height: 0;
    border-top: 8px solid #cc0000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: rotate(85deg);
}
.background2 {
   
    top: 379px;
}
.background3{
 top: -9px;

}
.s-logo {
 top: 1085px;
}
.section-posts{
    color: #fff;
    position: relative;
    left: 134px;
    top:0px;
    top: 98px;
    width: 789px;

}
@media (max-width:991px){
  .section-posts{
  left: 260px;
}
  }
.section{
margin-top:486px;
}
.post-content h2 {
    margin: 28px 6px 0;
    font-size: 21px;
    line-height: 1.25;
    color: #000;
    display: inline-block;
    }
   
    .post-content {
 position: absolute;
    top: 104px;
    width: 260px;
    left: 0px;
    background-color: #fff;
}
.post-content p {
    width: 225px;
    padding: 0 29px;
}
.post-icon {
    position: absolute;
    top: 121px;
    left: -26px;

}
.form1 input[type="text"] {
    outline: none;
    border: 1px solid #D4D3D3;
    background: none;
    padding: 10px 10px;
    width: 60%;
    font-size: 13px;
    position: relative;
    top: -15px;
}

 #panierform1 input[type="text"] {
    outline: none;
    border: 1px solid #D4D3D3;
    background: none;
    padding: 10px 10px;
    width: 60%;
    font-size: 13px;
    position: relative;
    top: -15px;
    background-color:white;
}

    .hidden{
  display:none;
}
 a.logout{
  margin-left:25px;
}
.loading{
background: url(img/loading.gif) no-repeat;
    width: 181px;
    height: 181px;
    position: absolute;
    top: 769px;
    left: 505px;
    z-index: 9999;
    background-size: cover;
}
.loading:before{
  content:'';

}


.sy-box .pictures-slider{
        height: 775px;

  }
  .boxed{
    width: 1349px;
   
  }
  .boxed:before{
    content:'';
    opacity:0.5;
    width:100%;
    height:100%;
 background-color:red;
    z-index:9999;
  }
  .header-social {
    /* margin: 17px; */
    /* padding-left: 956px; */
    *padding-top: -65px;
    margin: 0px;
    padding-left: 0px;
    padding-top: 0px;
    z-index:999;
    position: absolute;
    top: 19px;
    left: 1040px;
}
}
.header-log {
    top: 431px;
    left: 66px;
    position: absolute;
    z-index:99;
    color: white;
    width: 1237px;
    font-size: 18px;
}
.menu-item {
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    padding: 0 16px;
    display: inline-block;
}


.container-m .menu {
    width: 1927px;
    margin: 0px 0 0 0;
    *background: -webkit-linear-gradient(90deg, #9b4a2b 0%, #b32452 0%, #a80fab 100%, #32d196 100%);
    background:transparent;
    color: #fff;
}
.menu {
    
border-top: 0px solid #ededed;
    border-bottom: 0px solid #ededed;
    font-weight: 600;
    text-align: center;
    padding: 24px 0;
    color: #181818;
    text-transform: uppercase;
    font-size: 15px;
    background-color: white;
    z-index: 999;
    position: absolute;
    top: -1px;
    display: block;
    left: -578px;
  }
#menu-derouler {
    display: none;
    float: left;
    width: 246px;
    height: 237px;
    border-top: 1px solid #d8d8d8;
    padding-left: 25px;
    position: absolute;
    margin-left: 731px;
    color:white;
    z-index: 9999;
    background: #c00;
    -webkit-box-shadow: -1px 2px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 2px 2px rgb(0 0 0 / 20%);
}


/* #s {
    display: block;
    width: 64%;
    border: 0;
    outline: none;
    padding-top: -3px;
    height: 81px;
    line-height: 66px;
    font-size: 3.0em;
    font-weight: bold;
    color: #676767;
    margin-bottom: 150px;
    z-index: 5;
    left: 315px;
    position: relative;
}*/
#s {
    display: block;
    width: 64%;
    border: 0;
    outline: none;
    padding-top: -3px;
    height: 81px;
    line-height: 66px;
    font-size: 3.0em;
    font-weight: bold;
    color: #676767;
    margin-bottom: 150px;
    z-index: 5;
    margin-left: 131px;
    position: relative;
}
#searchform {
    width: 1443px;
    height: 189%;
    background-color: #fff;
    left: 488px;
    position: relative;
    z-index: 9999;
}
.header-log {
    position: absolute;
    top: 0px;
    left: 1097px;
    z-index: 9999;
    color: #d9cba7;
    width: 196px;
    font-size: 18px;
}
#searchsubmit {
    display: block;
    float: right;
    margin-top: 6px;
    background: none;
    color: #717171;
    border: 0;
    outline: none;
    cursor: pointer;
    z-index: 5;
    position: relative;
}

@media (max-width:991px){
  .menu{
  *width: 1985px;
  left: -770px;
}
#menu-derouler{
margin-left: 969px;
}
.container-m .menu{
     width: 2279px;
    *margin: 0px 0 0 0;
}
#s{
*left: -264px
}
#searchsubmit{
  left: -134px;
}
#searchform {
    width: 1481px;
    height: 189%;
    background-color: #fff;
        left: 801px;
    position: relative;
    z-index: 9999;
}
  }

.header-logo {
    /* margin: -120px 270px; */
    /* float: right; */
    /* padding-top: 14px; */
    position: absolute;
    top: 189px;
    z-index: 960;
    left: 389px;
}
    .header-logo-1 {
    position: absolute;
    top: 129px;
    z-index: 960;
    left: 540px;
}
  
@media (max-width:991px){
  .header{
    width: 1401px;
  }
.header-log {
    color: #dfcba7;
    z-index: 9999;
    
    }
    .header-logo-1{
      left: 603px;
    }
    .header-social{
    width: 1334px;
  }
  .boxed {
    width: 1477px;
}
  .heartwish {
    float: right;
    position: absolute;
    left: 354px;

}
.s-container{
  width:1477px;
}
.posts{
padding-left: 76px;
}

.background3{
     width: 1481px;
  }
   
  }
.sy-box.pictures-slider{
height: 725px;
  }
  .s-container{
    

  }
  .heartwish {
    
    position: absolute;
    left: 407px;
    top: 21px;
  }
 .mobile-app{
      color: white;
    position: absolute;
    z-index: 999;
    top: 447px;
    padding-top: 2px;
    left: 1170px;
    padding-right: 7px;
    border: 1px solid #cca000;
    border-radius: 6px;
    background-color: #cca000;

}
.mobile-app a{
font-size:19px;
color: #fff;
padding-left: 3px;
  } 

   
   .mobile-app i{
color: #fff;
font-size: 30px;
    }
#zone_de_rechargement{
  *color: #cca000;
    position: absolute;
    z-index: 970;
    top: 312px;
    left: 620px;
    
}
    .check-message {
    border: 1px solid #62a140;
    background-color: #1a520a;
    width: 542px;
    
}
.check-message .close-message {
    border: 1px solid #1a520a;
    background-color: #1a520a;
    color: white;
}
.rat-recp{
  position: absolute;
    left: 567px;
    z-index: 980;
    top: 22px;
}

.rat-recp i{
  color:yellow;
}

.panier-list {
    width: 557px;
    height: 364px;
    background-color: white;
    position: absolute;
    top: 62px;
    left: 359px;
    z-index: 996;
    overflow-y: scroll;

}
 .ri-cmp {
        position: absolute;
    top: 14%;
    left: -350%;
    padding: 0px 0px 18px 5px;
    background: #cc0000;
    width: 32px;
    height: 23px;
    border-radius: 12%;
    -webkit- border-radius: 12%;
    -0- border-radius: 12%;
    -moz- border-radius: 12%;
}

.ri-cmp:after {
  content: '';
    position: absolute;
    top: 86%;
    right: 24%;
    width: 0;
    height: 0;
    border-bottom: 8px solid #cc0000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: rotate(85deg);
}

.ri-cmp span{
 position: relative;
    top: -5px;
    left: 5px;
    color:white;
}
@media(max-width: 991px){
  .ri-cmp {
    left: -358%;
}
}
.ic-txt{
position: absolute;
top: -216px;
left: 422px;
z-index: 995;
}
 .ic-txt:before {
    content: " ";
    
    border-left: 8px solid transparent !important;
    border-right: 10px solid transparent !important;
    top: 267px;
    border-bottom: 20px solid;

    left: 84px;
    border-color: #efefef;
    position: absolute;
    z-index: 999;
  }
#searchbar {
    margin-top: 25px;
}

/*a.checkout {
    font-style: normal;
    padding: 8px 20px;
    background: #cc0000;
    font-size: 14px;
    color: #fff;
    border-radius: 6px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}*/

  .section-title-p {
    text-align: center;
    padding-bottom: 99px;
    padding-top: 1px;
}
.section-title-p h2 {
    font-size: 46px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
     color: #a6b526;
    margin-bottom: 96px;
    padding-bottom: 18px;
    position: relative;
}
 @media (max-width:991px){
  .section-title-p h2{
position: relative;
left: 223px;
}
}
.section-title-p h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 180px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 93px);
}
.section-title-p h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #4caf50;
    bottom: 0;
    left: calc(50% - 33px);
  }

.section-title-cat {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
    top: 91px;
}
.section-title-cat h2 {
    font-size: 48px;
    font-weight: 500;
    font-family: 'Pacifico', cursive;
    color: #a6b526;
    margin-bottom: 96px;
    padding-bottom: 18px;
    position: relative;
}
 @media (max-width:991px){
  .section-title-cat h2{
position: relative;
left: 223px;
}
.background4 {
    background: url(../css/img/bg1.png) 50% 30% no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    width: 1481px;
}
}
.section-title-cat h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 180px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 93px);
}
.section-title-cat h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: #4caf50;
    bottom: 0;
    left: calc(50% - 33px);
  }
a.circleread{  
  background: #ff5722;
  padding: 25px 53px;
  border:0;
  transition: 0.4s;
  border-radius: 49px;
  margin-left: 600px;
  color:white;
}
a.circleread span{
  color:white;
  font-size: 26px;
}
a.ircleread :hover {
  background: red;
}
 @media (max-width:991px){
a.circleread{
    margin-left: 628px;
}
}
    .header-log-1 {
    top: -1px;
    left: 721px;
    position: absolute;
    z-index: 1002;
    color: white;
    /* width: 196px; */
    font-size: 18px;
    cursor: pointer;
}  

    
  #box-p{
    display:none;
  }
  .table-sty {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-sty thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.table-sty th,
.table-sty td {
    padding: 12px 12px;
}
.table-sty tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-sty tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-sty tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
a.checkout {
    font-style: normal;
    padding: 8px 20px;
    background: #cc0000;
    font-size: 14px;
    color: #fff;
    border-radius: 6px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.form-control {
  width: 79%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.recalc{
font-style: normal;
     border:none;
    padding: 8px 20px;
    background: #cc0000;
    font-size: 14px;
    color: #fff;
    border-radius: 6px;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.down-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  font-size: 16px;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.down-item:hover, .down-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.down-item.active, .down-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}

.down-item.disabled, .down-item:disabled {
  color: #6c757d;
  background-color: transparent;
}

.down-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.down-toggle:empty::after {
  margin-left: 0;
}

.menulogin {
  position: absolute;
  top: 56px;
  left: 151px;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.menulogin.close{
  display:none;
}
.btn-secondary {
  color: #fff;
  background-color: transparent;
  *border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #000;
  border-color: #545b62;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 20px;
    margin-left: 153px;
    margin-top: 13px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover, .btn:focus {
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
button.down-item i{
  color:#cc0000;
  font-size:21px;
}
.baseline, .crossline {
    text-align: center;
    *margin-top: 1037px;
    float: left;
    margin-left: 359px;
    z-index: 5;
    position: relative;
    margin-left: 360px;
}
.baseline p, .crossline p {
 
    color: white;
        text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    }
    .form-icon .fa-user, .form-icon .fa-building-o, .form-icon .fa-at, .form-icon .fa-phone, .form-icon .fa-envelope, .form-icon .fa-balance-scale, .form-icon .fa-shopping-basket {
    position: absolute;
    left: 42px;
    top: 12px;
  }
    .box-s span.btn-cer{
  position: absolute;
  top: 133px;
  left: 333px;

  }
.box-s span.btn-olv{
position: absolute;
top: 128px;
left: -18px;

  }

.box-s span.btn-fis{
position: absolute;
top: 126px;
left: 665px;

  }

.box-s span.btn-mk{
position: absolute;
top: 120px;
left: 1005px;

  }

 

.post_2 {
    background-color: white;
    width: 260px;
    float: left;
    position: relative;
    margin: 148px 14px;
}
 
    .post_2 img {
       width: 140px;
    height: 113px;
    /* padding-left: 19px; */
    margin-left: 67px;
    /* margin: 0px; */
    margin-top: 13px;

}
.post-content_2 {
    position: absolute;
    top: -87px;
    width: 260px;
    left: 0px;
    height: 338px;
    background:-webkit-linear-gradient( 89deg , #e9c335 0%, #24d331fa 0%, #c91296 100%, #d35b0b 100%);
    *background: -webkit-linear-gradient( 246deg , #64520e 0%, #abbd48 0%, #40ad17 100%, #d35b0b 100%);
    color: white;
    border-radius: 14px;

}
.post-content_2 h2 {
    margin: 28px 6px 0;
    font-size: 21px;
    line-height: 1.25;
    color: #0b1601;
    display: inline-block;
    }
   
  
.post-content_2 p {
    width: 225px;
    padding: 0 29px;
}
.baseline-2{
  text-align: center;
    *margin-top: 1037px;
    margin-bottom:111px;
   *margin-left: 359px;
    z-index: 5;
    position: relative;
  
}
@media (max-width:991px){
.posts_2{
  margin-left: 136px;
}
.baseline-2{
       margin-bottom: 111px;
    margin-left: 361px;
    position: relative;
}
 .baseline-2 h2{
    line-height: 54px;
    font-size: 9px;
}
 .baseline-2 h3{
    
    font-size:19px;
}
 }
 .baseline-2 h1{
  margin-bottom: 19px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
    font-size:44px;
 }
 .baseline-2 span {
    position: absolute;
    top: 5px;
    color: #eef0f2;
    left: 0;
    right: 0;
    z-index: -3;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
}
.baseline-2 p{
  font-size:18px;

 }
   .row-p {
    /*--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* max-width: 100%; */
    top: -114px;
    width: 1369px;
    left: -20px;
        background-color: white;
    /* z-index: 99999; */
    /* margin-top: calc(-1 * var(--bs-gutter-y)); */
    /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
    /* margin-left: calc(-.5 * var(--bs-gutter-x));*/
  }
.box-s{
    display: flex;
    align-items: stretch!important;
    /* width: 25%; */
    height: 230px;
    height: 332px;
    /* background-color: red; */
        margin-left: 67px;
    margin-top: 59px;
}
.box-s img{
  width: 351px;
    height: 343px;
}
.bg-ft{
    *background: url(img/bg-xx.jpg) 50% -25% no-repeat;
    background-size: cover;
    background-position-x: -346px;
    width: 1335px;
    background-position-y: -109px;
  
}
@media (max-width:991px){
  .row-p{
      left: 83px;
    top: -80px;
  }
  .bg-ft{
  width: 1453px;
    background-position-y: -98px;
    background-position-x: -193px;
  }
}
.d-flex{
  display:flex;
}
.icon-box .icon {
  margin: 0 auto 20px auto;
    padding-top: 79px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 147px;
    height: 147px;
    *margin-left: 26px;
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

 .icon-box .icon i {
  font-size: 60px;
    /* line-height: 1; */
    /* text-align: center; */
    *margin-top: -26px;
    margin-top: -35px;
    margin-left: 1px;
}

.icon-box {
  padding: 26px;
    position: relative;
    /* overflow: hidden; */
    margin: 456px 126px 40px 0;
    background: #fff;
    /* box-shadow: 0 5px 26px 0 rgb(68 88 144 / 14%); */
    /* transition: all 0.3s ease-in-out; */
    /* text-align: center; */
    border: 1px solid #fff;
}
.icon-box-green .icon {
      background: -webkit-linear-gradient( 246deg , #edb432 0%, #7b0548 0%, #a72020e0 100%, #f67537 100%);
    box-shadow: 0 5px 25px 0 rgb(87 34 9 / 81%);
}

.icon-box-green .icon i {
  color:  #ffffff;
}
.icon-box .title {
   font-weight: 700;
    margin-bottom: 17px;
    font-size: 23px;
    color: #a9333d;
    font-style: italic;
    margin-top: 14px;
    text-align: center;
    margin-left: -3px;
  }

.icon-box .title a {
  color: #111;
}

.icon-box .description {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 0;
  text-align: center;
  margin-left: -17px;
}
.r-wd{
     display: flex;
    margin-left: 41px;
    position: relative;
    top: 145px;
}
@media(max-width: 991px){
  .r-wd{
  margin-left: 120px;
  }
  .icon-box .title {
  font-size:17px;
}
.icon-box .description {
  font-size: 16px;
  }
}
.posts_2 {
    position: relative;
    top: -171px;
    margin-left: 53px;
    width: 1270px;
    z-index:5;
}

.post_2 {
    background-color: white;
    width: 260px;
    float: left;
    position: relative;
    margin: 148px 14px;
}
 
 
.baseline-1{
  text-align: center;
    position: relative;
    margin-bottom: 243px;
    margin-left: 54px;
    top: 95px;

  }
.baseline-1 h1{
      margin-bottom: 19px;
    padding-bottom: 0;
    color: #3b434a;
    position: relative;
    z-index: 2;
    font-size: 44px;
 }
 .baseline-1 span {
  position: absolute;
  top: -42px;
    color: #eef0f2;
    left: 11px;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
}
.baseline-1 p{
  font-size:18px;
  margin-left: -53px;
}
.row-t{
    width: 1347px;
    background: -webkit-linear-gradient( 246deg , #edb432 0%, #10149b 0%, #a72095e0 100%, #32bbd1 100%);
    height: 500px;
    color: white;
}

@media (max-width:991px){
.posts_2{
  margin-left: 136px;
}
.row-t{
  width: 1484px;
}

  .baseline-2 p{
    font-size: 19px;
    *display: table-row;
    /* text-align: center; */
    position: absolute;
    margin-left: 57px;
    margin-top: -18px;

 } 
.baseline-1{
 margin-left: 306px;
  }
  /*
  .baseline-1 p{
font-size: 19px;
    margin-left: 4px;
 } 
.baseline-1 h2{
   
  line-height: 0px;
    font-size: 25px;
  
}*/
.baseline-1 h3{
   
   font-size:19px;

}
 .baseline-2 h1 {
   
    font-size: 44px;
}
.baseline-2 span {
    font-size: 44px;
}

 .baseline-1 h1 {
   
   font-size: 44px;
}
.baseline-1 span {
            font-size: 44px;
    margin-top: 10px;
}
}
.t-content{
     margin-left: 471px;
    font-weight: bold;
  }
.t-img{
  width: 355px;
  margin-left: 0px;
}

.icon-check{
  font-size:36px;
  color:#f67537;
}
.t-content table tr{
  *line-height:60px;
}

.btn-offer{
      width: 168px;
    height: 46px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background: -webkit-linear-gradient(272deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
    padding: 6px 0px;
    font-size: 20px;
    margin-left: 560px;
    margin-top: 55px;

}
.btn-offer a:hover{
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background: -webkit-linear-gradient(87deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
     padding: 11px 35px;
    font-size: 20px;
}
.divider-title{
     display: block;
    width: 443px;
    position: relative;
    top: -38px;
    left: 140px;
    height: 1px;
    background-color: white;
}
.divider-subtitle {
    display: block;
    width: 702px;
    position: relative;
    top: -40px;
    left: 6px;
    height: 1px;
    background-color: white;
}
/* Animation */
.menu{
  animation: slideInDown;
  animation-duration: 3s; 
/*bounce*/
}
.ri-cmp{
  animation: slideInDown;
  animation-duration: 3s; 
}
.w3l_sign_in_register ul li a {
  animation: slideInDown;
  animation-duration: 2s; 
}
.header-logo-1{
  animation: heartBeat;
  animation-duration: 20s;
}


.divider-title{
 animation: fadeInLeft;
  animation-duration: 10s;

}
.divider-subtitle{
 animation: fadeInRight;
  animation-duration: 7s;

}
.baseline h1{
  animation: fadeInLeft;
  animation-duration: 2s;
}
.baseline p{
  animation: fadeInRight;
  animation-duration: 3s;
}
.post_2{
  animation: fadeInUp;
  animation-duration: 9s;
}

/********/

.btn-order{
      width: 169px;
    height: 46px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background: -webkit-linear-gradient(272deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
    padding: 6px 0px;
    font-size: 20px;
    margin-left: 592px;
    margin-top: 46px;

}
.btn-order a:hover{
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    background:-webkit-linear-gradient(87deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
     padding: 11px 34px;
    font-size: 20px;
}
.cover-section-posts{
    background: url(img/cook-bg3.jpg) 2% 20% repeat;
    webkit-background-size: cover;
    background-size: cover;
    width: 1349px;
    margin-top: 302px;
     
}

@media (max-width:991px){
  .btn-offer{
  margin-left: 680px;
}
.btn-order{
 margin-left: 232px;
}

.cover-section-posts{
  width:1479px;
}

}
.link{
  position:relative;
}
.link-update {
  position: absolute;
    top: 155px;
    left: 98px;
    width: 169px;
    height: 46px;
    color: white;
    cursor:pointer;
    text-align:center;
    border-radius: 8px;
    background-color: #94bb21;
    padding: 6px 0px;
    font-size: 20px;

}
 .link-more {
    position: absolute;
    top: 155px;
    left: 98px;
    width: 169px;
    height: 46px;
    cursor:pointer;
    text-align:center;
    color: white;
    border-radius: 8px;
    background: -webkit-linear-gradient(17deg, #ed6632 0%, #3c509b 0%, #d34144 100%, #32d196 100%);
    padding: 4px 0px;
    font-size: 20px;
}
.link-cat-m{
 position: absolute;
    top: 45px;
    left: 82px;
    width: 169px;
    height: 46px;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    z-index: 99;
    background: -webkit-linear-gradient(313deg, #ed6632 0%, #cf2ca6 0%, #fd9303 100%, #88bd28 100%);
    padding: 6px 0px;
    font-size: 20px;

}
.link-cat-m a:hover{
position: absolute;
    left: 0px;
    top:0px;
    width: 169px;
    height: 46px;
    text-align:center;
    color: white;
    cursor: pointer;
    border-radius: 8px;
   background: -webkit-linear-gradient(115deg, #ed6632 0%, #cf2ca6 0%, #fd9303 100%, #88bd28 100%);
   padding: 6px 0px;
    font-size: 20px;
   }

   .link-more a:hover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 169px;
    height: 46px;
    cursor:pointer;
    text-align:center;
    color: white;
    border-radius: 8px;
    background: -webkit-linear-gradient(190deg, #ed6632 0%, #3c509b 0%, #d34144 100%, #32d196 100%);
    padding: 4px 0px;
    font-size: 20px;
}


 .idoffer {
    border-radius: 7px;
    border: 1px solid #eef0f2;
    padding: 11px 18px;
    font-size: 20px;
    margin-left: 41px;
    background: -webkit-linear-gradient(272deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
    color:#fff;
     }
     .idoffer:hover{
    *border: 1px solid #9b9ea1;
    background: -webkit-linear-gradient(87deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
     }

.baselinks{
      display: block;
    margin-left: -44px;
    margin-top: 67px;
}
.load_class{

    background: url(img/loading.gif) no-repeat;
    width: 93px;
    height: 93px;
    position: relative;
    top: -106px;
    left: 659px;
    /* z-index: 9999; */
    background-size: cover;
}
.load_class:before{
  content:'';
}
.env-order {
    margin-top: 547px;
}

 .nlogin {
    
}
.sty-log{
  margin-top: 34px;
    margin-left: 139px;
}
.hlogin{
  display:block;
}
.w3l_sign_in_register ul li a {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background: -webkit-linear-gradient(272deg, #ed6632 0%, #ed9005 0%, #d00010 100%, #32d196 100%);
    text-align: center;
    padding: 4px 7px 1px;
    width: 202px;
    font-weight: bold;
    position: absolute;
    top: 21px;
    left: 151px;
}
.w3l_sign_in_register ul li a:hover {
   background-color:#000;
   color:#fff;
}
.fpagination{
position: relative;
margin-left: -37px;
margin-top: -2px;
}
.fpagination .desactive li  a {
 color:#ccc;
 pointer-events: none;
     }

.fpagination .active li  a:hover, .fpagination li  a:focus {
    z-index: 2;
    color: #ccc;
    }

.fpagination .active li  a {
   color:#fff;
     }

.fpagination  #previous{
padding-left: 21px;
    position: absolute;
    left: 69px;
    top: 133px;
    background-color: transparent;
    border-color: transparent;
    font-size: 35px;
    width: 185px;
}

.fpagination #next{
  position: absolute;
    top: 133px;
    left: 219px;
    background-color: transparent;
    border-color: transparent;
    font-size: 35px;
    width: 172px;
}
.hidoffer{
  display:none;
}


.w-pict-bg:before {
       content: '';
    display: block;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 868px;
    z-index: 27;
    right: 0;
    bottom: 0;
    height: 278px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: skewY(350deg);
    -ms-transform: skewY(350deg);
    -webkit-transform: skewY(350deg);
    transform: skewY(350deg);
}
.w-pict-bg:after {
    content: '';
    display: block;
  }


  .sy-box.pictures-slider {
    height: 880px;
    background: -webkit-linear-gradient(90deg, #9b4a2b 0%, #b32452 0%, #a80fab 100%, #32d196 100%);
}

.posts_2 {
    position: relative;
    top: 1px;
    margin-left: 79px;
    width: 1270px;
    z-index: 37;
}
.posts {
    margin-left: 99px;
    width: 1210px;
    margin-top: 225px;
  }
@media (max-width: 991px){
  .posts_2 {
    margin-left:197px;
  }
}
  .btn-j{
    position: relative;
    *top: -415px;
    left: 563px;
    *text-transform: uppercase;
    border-style:  solid;
    border-width: 0px 1px 0px 1px;
    font-size: 33px;
    width: 248px;
    height: 46px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 0px 0px 0px 0px;
    *background: -webkit-linear-gradient(272deg, #ed6632 0%, #05b8ed 0%, #75d000 100%, #441e47 100%);
    padding: 5px 0px;
    z-index: 999;
    font-size: 27px;

  }
  .btn-j a:hover{
    *background-color: rgb(236 0 140 / 16%);
    padding: 12px 0px 10px 97px;
  }
  .btn-j i{
    padding-left:25px;
  }
  .header-social {
       position: absolute;
    top: -8px;
    /* margin-left: 1340px; */
        left: 150px;
  }
   @media (max-width:991px){
.w-pict-bg:before{
  width: 1514px;
}
.boxed {
    width: 1511px;
}
.posts {
    margin-left: 28px;
    width: 1278px;
    margin-top: 225px;
}
}
.m-prod{
    margin-left: 207px;
    margin-bottom: 103px;
    line-height: 41px;
    display: inline-block;
    font-size: 23px;
    text-transform: uppercase;
    color: #798511;
    font-weight: 600;

}
.m-prod i{
    font-size: 29px;
    text-transform: uppercase;
    color: #798511;
    font-weight: 600;
    padding-left: 23px;
}
a.m-prod:hover{
  margin-left: 250px;
}
@media(max-width:991px){
  .m-prod {
    clear: both;
    margin-left: 270px;
    margin-bottom: 103px;
    line-height: 41px;
    display: block;
    font-size: 29px;
    text-transform: uppercase;
}
}

.form-icon .fa-user, .form-icon .fa-building-o, .form-icon .fa-at, .form-icon .fa-phone, .form-icon .fa-envelope, .form-icon .fa-balance-scale, .form-icon .fa-shopping-basket {
    position: absolute;
    left: 43px;
    top: 12px;
    color: #79196c;
    font-size: 17px;
}